#header {
    background-color: black;
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    height: 100%;
}

ul {
    display: flex;
    flex-flow: row;
    list-style-type: none;
    color: white;
}

.abc {
    background-color: red;
}

.def {
    background-color: green;
}

.xyz {
    background-color: blue;
    height: 300px;
    border: black 1px solid;
}

#footer {
    background-color: black;
    width: 100%;
    height: 100px;
}